# Environment
.env
.env.*

# Angular environments
src/environments/environment.ts
src/environments/environment.prod.ts

# Build output
/dist
/out-tsc
/.angular/cache

# Dependencies
/node_modules

# Coverage
/coverage

# Screenshots
screenshots/

# API Server
/api_server

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
.settings/

# OS Files
.DS_Store
Thumbs.db